* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.body {
  min-height: 100vh;
  padding-bottom: 75px;
  background: rgb(188, 76, 112);
  background:
    linear-gradient(
      332deg,
      rgba(188, 76, 112, 1) 27%,
      rgba(5, 34, 54, 1) 27%
    );
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 15px 20px;
  border-bottom: 2px solid #f6f0e7;
}

.logo {
  font-size: 2em;
  color: #f6f0e7;
  padding-left: 40px;
}

.nav-bar {
  display: flex;
  padding-right: 20px;
}

.nav-item {
  list-style: none;
  padding: 0 15px;
}

.link {
  text-decoration: none;
  color: #f6f0e7;
}

.link:visited {
  color: #f6f0e7;
}

.main-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.home-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: white;
}

.title {
  color: white;
  font-size: 1.5em;
}

.quote {
  margin-top: 35px;
  font-size: 1.5em;
  font-weight: bold;
  max-width: 800px;
  padding: 45px;
  border: 2px dotted black;
  background-color: white;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.text {
  margin-top: 35px;
  max-width: 900px;
}

.calculatorContainer {
  display: flex;
  flex-direction: column;
  width: 700px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.display {
  display: flex;
  height: 100px;
  font-weight: bold;
  font-size: 3.7em;
  color: white;
  justify-content: flex-end;
  align-items: center;
  background: gray;
  padding: 0 30px;
}

.panel-container {
  display: flex;
  flex-direction: column;
}

.btn {
  height: 100px;
  border: 1px solid gray;
  font-size: 2em;
}
